<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<param name="task" value="Semeval-7"/>
<param name="inFile" value="resources/eng-coarse-all-words.xml"/>
<param name="outFile" value="answers/answers.ans"/>
<param name="dictFile" value="resources/dict-adapted-all-relations.xml"/>
<param name="windowSize" value="4"/>
<param name="combinationMax" value="100000000"/>
<param name="nbThreads" value="2" />
</configuration>
